<div class="row">
    <div class="col-sm-2">
        <div id="question">
        </div>
        <br />
        <div id="a1">
        </div>
        <br />
        <div id="a2">
        </div>
        <br />
        <div id="a3">
        </div>
        <br />
        <div id="a4">
        </div>
    </div>
    <div class="col-sm-4">
        <canvas id="serviceSingleChart" style="width: 600px; height: 440px"></canvas>
    </div>
    <div class="col-sm-4">
        <canvas id="serviceGlobalChart" style="width: 600px; height: 440px"></canvas>
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-primary" id="nextQuestion" disabled>Sonraki Soru</button>
        <div id="timer"></div>
    </div>
</div>

@section Scripts{
    <script src="~/js/chart.js"></script>
    <script src="../js/Admin/adminContest.js" type="text/javascript"></script>
}