@section Scripts{
    <script src="../js/Quiz/index.js"></script>
}

Hub Quiz'e hoş geldiniz! Yarışmanın aktif olacağı süre:
<div id="clock"></div>
Yarışma başladığında otomatik olarak sayfaya yönlendirileceksiniz!

