@section Scripts{
    <script src="~/js/Quiz/seeResults.js"></script>
}



<div class="row">
    <div class="col-sm-6">
        <canvas id="serviceChart" style="width: 600px; height: 440px"></canvas>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TEBRİKLER</h5>
                <p class="card-text" id="explanation">
                    Lütfen sunucunun bir sonraki soruya geçmesini bekleyin! Sayfa otomatik atama yapacaktır!
                </p>
            </div>
        </div>

    </div>
</div>

